<%= provide( :title, "Home") %>
<div class = "contents_heading">
	<div class = "container">
		<h1> Home </h1>
		<h3>Home page for GeekChic Style Guid</h3>
	</div>
</div>

<div class = "container">
<div class = "row">
	<div class = "col-xs-6"> 
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor orci dui, ac scelerisque tortor venenatis non. In finibus pretium risus quis congue. Maecenas mattis dolor vel ullamcorper sollicitudin. Phasellus lacinia condimentum consequat. Nullam tempor augue fermentum libero posuere mollis. Etiam non dapibus sapien. Nullam libero magna, fermentum sed dictum quis, mattis ac nisl.

			Sed mauris mi, volutpat in diam ut, venenatis vulputate dolor. Suspendisse sodales pulvinar nisl eget cursus. Integer tincidunt justo eros, sed rhoncus metus placerat sed. Proin vitae placerat orci. Morbi non pulvinar mi. Mauris malesuada vulputate interdum. Nam ornare diam felis, in placerat magna laoreet sit amet. Morbi a lectus quam. Curabitur rutrum dictum elementum. Cras dictum odio at libero mattis bibendum. Sed facilisis risus et purus porttitor lobortis. Nam tempus sapien sit amet dolor faucibus, nec molestie elit venenatis. Nam tempor varius quam, et sodales quam convallis sit amet. Nulla a est et tortor pellentesque porttitor.

			Donec pharetra turpis nec lacus interdum faucibus. Donec congue dapibus lacus nec dictum. Nunc sodales dui ac neque tempus, sed congue mauris vehicula. Aliquam quis urna condimentum, pretium mauris id, malesuada mi. Curabitur id ex id nunc blandit semper. Donec eu mi nulla. Praesent eget ultrices mauris. Duis auctor molestie diam, et iaculis justo ornare sit amet. Vestibulum vitae est id ipsum tincidunt gravida nec id felis. Aliquam vel est luctus, varius felis at, aliquam neque. In porta ac magna eu scelerisque. Vestibulum et ante eget lectus blandit sagittis. Mauris tempor blandit consectetur.

			Sed leo libero, ullamcorper id velit nec, sodales venenatis metus. Mauris placerat tincidunt orci, at convallis leo sagittis at. Aliquam ac molestie est. Mauris ultricies felis quis auctor maximus. Donec euismod sollicitudin dolor. Aenean porta lacinia libero, ut mollis nulla dapibus vel. Fusce in mauris eget elit consequat molestie sit amet in dui. Nulla non libero nisl. Vivamus vel cursus eros. Maecenas scelerisque turpis tortor, vel finibus metus aliquam eu. Morbi ex arcu, iaculis in dui id, convallis molestie arcu.
		</p>
	</div>
</div>
</div>
