<div class="item">
  <div class="carousel-caption">
    <h3 id="header-landing">Welcome</h3>
    <p id = "paragraph-landing">description-will fix...possible carousel of all images? -> ie: <a href = "http://getbootstrap.com/examples/carousel/"> click_on_me_for_example!</a> </p>
    <p id = "paragraph-landing">Otherwise...</p>
    <p><%= link_to "ENTER", home_path %></p>
  </div>
</div>