@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	width: 25px;
	height: 25px;
	position: relative;
	border-radius: 5px;
	overflow: visible;
	opacity: 0.8;
	float: left;
	bottom: 3px;
    margin-right: 20px;
}

.contents{
	margin-top: 100px;
}